.details {
    padding: 0;
    .input-text {
        display: block;
        width: 100%;
    }
    .row {
        margin: 0;
    }

    .feedback-section {
        margin: 20px 0 0 0;
        span {
            margin: 0;
            float: right;
        }
        .btn {
            margin: 10px 0;
            float: right;
        }
        .dv-star-rating {
            font-size: 20px;
            float: right;
        }
    }
    .action-container {
        text-align: right;
        margin: 10px;
        overflow: hidden;
        &.actions{
            display: inline-block;
            text-align: left;
            margin:0;
            overflow: hidden; 
            .btn {
                margin: 0 20px 0 0;
            }  
        }
        span {
            display: block;
            float: left;
            font-size: 16px;
            margin: 0 10px;
        }
        .btn {
            margin: 0 10px
        }
        &::after {
            content: '';
            clear: both;
        }
       
    }
    .info-host {
        font-size: 16px;
        line-height: 28px;
    }
    .titles {
        font-size: 18px;
        color: #b30274;
        border-bottom: 2px solid #b30274;
        border-top: 2px solid #b30274;
        padding: 10px 0;
    }
    .titles-item {
        padding: 10px 0;
    }
    .details-content {
        padding: 50px 55px 15px 55px;
        .row>div>input,
        .row>div>div {
            margin-bottom: 40px
        }
    }
    .service-details {
        padding: 25px 55px 0px 55px;
        &.vendor {
            .control {
                margin-bottom: 5px;
            }
            ::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: #7d76ff;
            }
            ::-moz-placeholder {
                /* Firefox 19+ */
                color: #7d76ff;
            }
            :-ms-input-placeholder {
                /* IE 10+ */
                color: #7d76ff;
            }
            :-moz-placeholder {
                /* Firefox 18- */
                color: #7d76ff;
            }
            .text-charges {
                text-align: left;
                margin-left: 30px;
                width: calc(100% - 30px);
            }
        }
        .row {
            &>div {
                margin-bottom: 50px;
                font-weight: bold;
            }
        }
    }
    .snackveg-details {
        padding: 25px 55px 0px 55px;
        .item-list {
            width: 350px;
            .stepperCont {
                float: right;
                position: relative;
                padding-bottom: 15px;
                height: 55px;
                &.vendor {
                    height: auto;
                    ::-webkit-input-placeholder {
                        /* Chrome/Opera/Safari */
                        color: #7d76ff;
                    }
                    ::-moz-placeholder {
                        /* Firefox 19+ */
                        color: #7d76ff;
                    }
                    :-ms-input-placeholder {
                        /* IE 10+ */
                        color: #7d76ff;
                    }
                    :-moz-placeholder {
                        /* Firefox 18- */
                        color: #7d76ff;
                    }
                }
            }
            .cust-text {
                font-size: 12px;
                position: absolute;
                bottom: 0;
            }
            .ctrl {
                margin: 15px 0 20px 0;
                overflow: hidden;
                label {
                    font-size: 14px;
                    font-weight: bold;
                }
            }
            img {
                width: 350px;
                height: 200px;
                background-repeat: no-repeat;
                background-size: contain;
            }
            &:after {
                content: "";
                clear: both;
                display: table;
            }
        }
    }
    .next-blk {
        text-align: center;
        margin: 0 0 50px 0;
    }
}