body {
    font-family: 'Comic Sans MS', arial;
    font-size: 14px;
}

p {
    margin: 0;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #b2b2b2;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #b2b2b2;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #b2b2b2;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #b2b2b2;
}

.loader-dots {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 40px);
}

.loader-dots:before,
.loader-dots:after {
    height: 20px;
    width: 45px;
    background-image: radial-gradient(closest-side, #111 100%, transparent), radial-gradient(closest-side, #111 100%, transparent);
    background-position: 0%, 100%;
    background-size: 20px 20px, 20px 20px;
    background-repeat: no-repeat;
    position: absolute;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: spin, onOff;
    content: '';
}

.loader-dots:before {
    animation-direction: normal, reverse;
}

.loader-dots:after {
    right: 0px;
    animation-direction: reverse, normal;
}

.loader-dots {
    height: 20px;
    width: 70px;
    background-image: radial-gradient(closest-side, #111 100%, transparent), radial-gradient(closest-side, #111 100%, transparent);
    background-position: 0%, 100%;
    background-size: 20px 20px, 20px 20px;
    background-repeat: no-repeat;
    position: absolute;
    animation: toggle 0.8s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(180deg)
    }
}

@keyframes onOff {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes toggle {
    0% {
        background-size: 0px 0px, 20px 20px
    }
    49.9% {
        background-size: 0px 0px, 20px 20px
    }
    50% {
        background-size: 20px 20px, 0px 0px
    }
    100% {
        background-size: 20px 20px, 0px 0px
    }
}

.text-bodered {
    border: 1px solid #b30274;
    outline: none;
    font-size: 18px;
    padding: 0 25px;
    line-height: 35px;
    border-radius: 12px;
    color: #000;
}

.text-charges {
    border: 1px solid #b30274;
    outline: none;
    font-size: 12px;
    line-height: 25px;
    border-radius: 8px;
    color: #000;
    width: 90px;
    padding: 0 5px;
    text-align: center;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.input-text {
    border: none;
    border-bottom: 1px solid #b30274;
    outline: none;
    font-size: 14px;
    padding: 0;
    line-height: 32px;
    color: #000;
}

.alert {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    border: 0;
    border-radius: 0px;
}

.select {
    * {
        outline: none;
        border: none;
        box-shadow: none;
        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }
    }
    &>div>div {
        border: none;
        border-bottom: 1px solid #b30274;
        border-radius: 0px;
        &:hover {
            border: none;
            border-bottom: 1px solid #b30274;
            box-shadow: none;
        }
        &>div {
            padding: 0;
        }
    }
    span {
        display: none;
    }
    svg {
        color: #b30274
    }
}

.btn {
    &.btn-action {
        background-color: #b30274;
        color: #fff !important;
    }
}

.btn:focus,
.btn.focus {
    box-shadow: none !important;
}

.datepicker {
    .react-datepicker-wrapper,
    .react-datepicker__input-container {
        display: block;
        width: 100%;
    }
    .react-datepicker__time-list {
        padding: 0;
    }
    input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #b30274;
        outline: none;
        font-size: 14px;
        padding: 0;
        line-height: 32px;
        color: #000;
        &:focus,
        &:hover {
            outline: none;
            border: none;
            border-bottom: 1px solid #b30274;
        }
    }
}

.btn {
    font-size: 14px;
    line-height: 1;
    background: #b30274 !important;
    border: none !important;
    outline: none !important;
    padding: 8px 40px 10px 40px;
    border-radius: 10px;
    color: #fff;
}

.btn:hover {
    color: #fff;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background: #b30274;
    border: none;
}

.btn-secondary:focus,
.btn-secondary.focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/* Form elements */

.control-group {
    display: inline-block;
    width: 200px;
    height: 210px;
    margin: 10px;
    padding: 30px;
    text-align: left;
    vertical-align: top;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.control {
    font-size: 14px;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    padding-left: 30px;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #b30274;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

/* Hover and focus states */

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
    background: #fff;
}

/* Checked state */

.control input:checked~.control__indicator {
    background: #b30274;
}

/* Hover state whilst checked */

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
    background: #b30274;
}

/* Disabled state */

.control input:disabled~.control__indicator {
    pointer-events: none;
    opacity: .6;
    background: #e6e6e6;
}

/* Check mark */

.control__indicator:after {
    position: absolute;
    display: none;
    content: '';
}

/* Show check mark */

.control input:checked~.control__indicator:after {
    display: block;
}

/* Checkbox tick */

.control--checkbox .control__indicator:after {
    top: 4px;
    left: 8px;
    width: 3px;
    height: 8px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;
}

/* Disabled tick colour */

.control--checkbox input:disabled~.control__indicator:after {
    border-color: #7b7b7b;
}

/* Radio button inner circle */

.control--radio .control__indicator:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

/* Disabled circle colour */

.control--radio input:disabled~.control__indicator:after {
    background: #7b7b7b;
}

/* Form elements */

.header-title {
    background: #b30274;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 48px;
    color: #fff;
}

.header-subtitle {
    background: #b30274;
    font-size: 18px;
    padding-left: 50px;
    line-height: 48px;
    color: #fff;
}

.landing {
    border-top: 35px solid #b30274;
    padding: 0;
    .banner-wrapper,
    .gallery,
    .description,
    .footer-links {
        &.row {
            margin: 0;
            &>div {
                padding: 0;
            }
        }
    }
    .navbar {
        border-bottom: 1px solid #030305;
        background: #24222b;
        padding: 1rem 1rem;
        .navbar-toggler {
            background: #b30274;
        }
        .navbar-brand {
            background: #fff url('../images/logo.png') no-repeat;
            padding: 30px 36px;
            background-position: center;
            background-size: cover;
            margin: 0 10px 0 0;
        }
    }
    .navbar-nav {
        a {
            font-size: 14px;
            color: #fff;
            cursor: pointer;
            padding: 4px 2rem !important;
            &.active,
            &:hover {
                color: #b30274
            }
        }
        .bodered-nav {
            border: 1px solid #b30274;
            display: inline-block;
            border-radius: 10px;
        }
    }
    .banner {
        width: 100%;
        background: url('../images/header_background.jpg') no-repeat;
        background-size: cover;
        padding: 240px 0 245px 0;
        &.signin {
            padding: 265px 0 270px 0;
        }
        .signin-content {
            max-width: 780px;
            background: #fff;
            margin: 0 auto;
            .heading {
                background: #b30274;
                text-align: center;
                font-size: 28px;
                line-height: 50px;
                color: #fff;
            }
            .form-content {
                padding: 50px 20px 25px 20px;
                input[type='text'] {
                    width: 100%;
                    display: block;
                    margin-bottom: 45px;
                }
                input[type='password'] {
                    width: 100%;
                    display: block;
                    margin-bottom: 30px;
                }
                .rem-blk,
                .btn-blk,
                .singup-links {
                    text-align: center;
                    a {
                        color: #007bff !important;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .rem-blk.signup {
                    label {
                        font-size: 18px;
                        &:nth-child(1) {
                            margin-right: 20px;
                        }
                    }
                    &~.btn-blk {
                        button {
                            margin: 0 auto;
                        }
                    }
                }
                .btn-blk {
                    margin-bottom: 25px;
                    &>.btn:nth-child(1) {
                        margin-right: 18px;
                        min-width: 170px;
                    }
                }
            }
        }
        .banner-content {
            text-align: center;
            color: #fff;
            padding: 75px 0 60px 0;
            background: rgba(0, 0, 0, 0.4);
            .heading {
                font-size: 100px;
                line-height: 1;
                margin-bottom: 10px;
            }
            .sub-heading {
                font-size: 36px;
                padding: 0 45px;
                border-bottom: 6px solid #b30274;
                max-width: 825px;
                margin: 0 auto 10px auto;
            }
            .desc-text {
                font-size: 48px
            }
            .btn {
                font-size: 42px;
                padding: 8px 32px 10px 32px;
                border-radius: 15px;
            }
        }
    }
    .banner-wrapper {
        border-bottom: 40px solid #b30274;
    }
    .down-arrow {
        display: inline-block;
        background: url('../images/down_arrow.jpg') no-repeat;
        height: 18px;
        width: 100%;
        margin: 0 auto;
        background-position: center top;
    }
    .description {
        margin: 75px 0 100px 0 !important;
        text-align: center;
        .des-title {
            font-size: 36px;
            color: #b30274;
            line-height: 36px;
            margin-bottom: 10px;
        }
        .des-matter {
            font-size: 18px;
            color: #24222b;
            line-height: 22px;
            margin-bottom: 10px;
        }
    }
    .gallery-container {
        margin-bottom: 190px;
        .gallery {
            div {
                width: 100%;
                background: url('../images/gallery.jpg') no-repeat;
                background-size: cover;
                height: 400px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                a {
                    cursor: pointer;
                    font-size: 48px;
                    line-height: 48px;
                    color: #fff;
                }
            }
        }
    }
    .footer-links {
        background: #24222b;
        padding-bottom: 180px;
        .social-icons {
            display: flex;
            justify-content: center;
            margin: 20px 0;
            button {
                cursor: pointer;
                color: #fff;
                background: transparent;
                outline: none;
                font-size: 24px;
                border: 1px solid #b30274;
                width: 40px;
                border-radius: 20px;
                height: 40px;
                font-weight: bold;
                display: inline-block;
                margin-right: 20px;
            }
        }
        .links-container {
            display: flex;
            justify-content: center;
            ul.left-links,
            ul.right-links {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    a {
                        display: inline-block;
                        color: #fff;
                        cursor: pointer;
                        font-size: 14px;
                        line-height: 14px;
                        margin-bottom: 20px;
                    }
                }
            }
            ul.left-links {
                margin-right: 60px;
            }
        }
    }
}